<div class="container-left-menu">
	<button class="lf-button">button</button>
	<div class="menu">
		<nav class="left-menu"> 
			<img src="../img/main/food_logo.svg" class="left-menu__food-logo food-logo" alt="Логотип ресторана">
			<img src="../img/main/button_on_menu.svg" class="left-menu__button">
			<div class="left-menu__nav-logo nav-logo">
				<a href="https://www.youtube.com/" target="_blank"><img src="../img/main/youtube_logo.svg" class="nav-logo__logo" alt="Логотип ютуба"></a>
				<a href="https://vk.com/" target="_blank"><img src="../img/main/vk_logo.svg" class="nav-logo__logo" alt="Логотип вконтакте"></a>
				<a href="https://web.telegram.org/z/" target="_blank"><img src="../img/main/tg_logo.svg" class="nav-logo__logo" alt="Логотип телеграмма"></a>
			</div>	
		</nav>
	</div>
</div>