@import "normalize.scss";
@import "scaffolding.scss";
@import "variables.scss";


@font-face {
	font-family: "Circe";
	src:
		url("../fonts/circe.woff2") format('woff2'),
		url("../fonts/circe.woff") format('woff'); 		
}


header {
	background: $darkGreen;
	background-image: url("../img/main/header_in_main_page.jpg");
	width: 100vw;
	height: 100vh;
	background-size: cover;
}

.button {
	padding: 10px 20px;
	background: $lightBrown;
	color: white;
	@include font(700, 16px);	
}

.button:hover {
	background: $grey;
}



.right-menu { 
	padding-top: 19px;
}

.right-menu__navigation {
	@include flex(flex, row, flex-end, normal);	
	margin-right: 41px;
}		

.navigation__link {
	@include font(400, 16px);				
	color: white;
	padding: 18px;
	&--selected {
		color: white;
		background: $lightBrown;
		padding: 18px;
	}
}
		
.navigation__link:hover {
	color: white;
	background: $lightBrown;
}

.navigation__link--selected:hover {
	background: $grey;
}
	
	
	
.title {
	@include font(700, 40px);
	color: white;
	margin: 378px 0 135px 270px;
	padding-bottom: 135px;
}



.lf-button {
	position: fixed;
	left: 2%;
	top: 50%;
	background: black;
	border-radius: 50%;
	padding: 20px 10px;
}

.container-left-menu:hover .menu {
	display: block;
}

.menu {
	display: none;
}	

.left-menu {
	background: black;
	@include flex(flex, column, normal, normal);
	height: 100%;
	width: 120px;
	position: fixed;
}

.left-menu__button {
	padding: 20px;
}

.left-menu__nav-logo {
	@include flex(flex, column, normal, normal);
	margin-top: 160%;
}

.nav-logo__logo {
	padding: 30px;
}
	
	
	
.main-subtitle {
	@include font(700, 64px);
}
	
.main-title {
	display: flex;
	text-transform: uppercase;
	@include font(700, 20px);	
}

.main-title::after {
	display: block;
	content: "";
	border-bottom: 3px solid $lightBrown;
	width: 60px;
	margin-left: 12px;
	margin-bottom: 12px;
}

.main-text {
	@include font(400, 18px);
}



.about-restaurant {
	width: $widthBlock;
	margin: auto;
	margin-top: $marg-top-main-block;
}

.text-restaurant {
	@include flex(flex, row, center, center);
	&__title {
		padding: 100px;
	}
}


	
.about-menu {
	width: $widthBlock;
	margin: auto;
	margin-top: $marg-top-main-block;
}

.text-menu {
	@include flex(flex, row, center, center);
	&__title {
		padding: 100px;
	}
}

.menu-content {
	@include flex(flex, row, center, normal);
	padding-bottom: 60px;
	margin-left: 90px;	
}

.menu-content__main-menu {
	@include flex(flex, column, normal, center);
}

.menu-content__img {
	height: auto;
}		

.menu-content__bar-card {
	@include flex(flex, column, normal, center);
	padding-left: 71px;
}
		
.bar-card__img {
	height: auto;
}
		
.main-title__menu-content {
		margin: 20px 0;
}



.about-delivery {
	width: $widthBlock;
	margin: auto;
	margin-top: $marg-top-main-block;
}

.text-delivery {
	@include flex(flex, row, center, center);
	height: 395px;
	&__title {
		padding: 100px;
	}
}

.about-delivery__button-delivery {	
	@include flex(flex, row, normal, center);
	margin-left: 49%;
}
		
.button-delivery__more {			
	padding: 15px 30px;		
}

.button-delivery__conditions {
	margin-left: 30px;			
	padding: 15px 30px;
	background: white;
	border: 1px solid rgb(128 128 128 / 44%);			
}

.button-delivery__conditions:hover {
	color: white;
	background: $lightBrown;
}

.button-delivery__text {
	font-size: 20px;
	&--color {
		color: #000;
	}
}


	
.contacts-information {
	width: $widthBlock;
	margin: auto;
	margin-top: $marg-top-main-block;
	&__items {
		@include flex(flex, row, center, center);
	}
}

.item {
	@include flex(flex, row, normal, center);
	margin-right: 86px;
}

.two-element__information {
	margin: 61px;
}

.information__time {
	@include font(700, 64px);
	color: $lightBrown;
}

.information__text {
	@include font(400, 18px);
	white-space: nowrap;
}
						
.contacts {
	@include flex(flex, column, space-around, normal);
	position: relative;
	left: 65px;
	width: 416px;
	height: 349px;
	bottom: 446px;
	margin: 0 auto;
	background: $darkGrey;
	padding: 40px;
	box-sizing: border-box;
	&__geolocation {
		display: flex;
	}
}
		
.geolocation__adress {
	@include font(400, 16px);
	color: white;
	padding-left: 23px;
}
				
.contacts__phone {
	display: flex;
}
		
.phone__number {
	@include font(400, 16px);	
	color: white;
	padding-left: 23px;
}
		
.title-time-work {
	@include font(700, 20px);	
	color: white;
}

.time-work {
	@include font(700, 18px);	
	color: white;
	&--selected {
		font-weight: 400;
	}
}

.contacts__buttons {
	@include flex(flex, row, space-between, normal);
}

.buttons__button-to-ask {
	padding: 10px 20px;
	background: $darkGrey;
	color: white;
	border: 1px solid white;
}

.buttons__button-to-ask:hover {
	color: white;
	background: $lightBrown;
}
	


.footer-main {
	@include flex(flex, row, space-around, center);
	width: 100vw;
	height: 120px;
	margin: auto;
	background: black;
}

.footer-main__text {
	@include font(400, 16px);	
	color: white;
	&--weight {
		font-weight: 700;
	}
}
	


.ttr {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(0 0 0 / 61%);
	position: fixed;
	top: 0px;	
	width: 100vw;
	height: 100vh;
	z-index: 1;
}

.form-table-reservation {
	@include flex(flex, column, space-evenly, center);
	width: 416px;
	height: 572px;
	background: black;
	&__text {
		@include font(700, 20px);		
		color: white;
	}	
}


.form-table-reservation__button {
	margin: 0 10px;
}
		
.input-guest-time {
	padding: 10px;			
}	
			
.input {
	padding: 12px;
	color: white;
	background: black;
	width: 280px;
	border: 1px solid white;
	&-select {
		width: 118px;
		margin: 0 20px;
		max-height: 44px;
	}
}
	
	

.right-menu-full {
	@include flex(flex, column, space-around, center);
	background: black;
	width: 100vw;
	height: 100vh;
	margin: auto;
	&__navigation {
		@include flex(flex, column, normal, center);
		padding: 0;
	}
}

.full-navigation__link {
	@include font(700, 48px);
	margin-bottom: 66px;
	&--color {
		color: white;
		padding: 20px 40px;
	}
	&--color:hover {			
		background: $lightBrown;		
	}
}
	
.right-menu-full__button {
	padding: 20px 40px;
	margin-bottom: 98px;
	&--text {				
		font-size: 24px;			
	}
}
	
.nav-logo__menu-full {
	padding: 0 12px;
}



.menu-second-page {
	width: 80%;
	margin: auto;
	margin-top: 200px;
	margin-bottom: 100px;
	&__navigation {
		@include flex(flex, row, flex-end, normal);
	}
}

.navigation__logo-second-page {
	margin: 0 23px;
	@include font(400, 16px);	
	&:hover {
		border-bottom: 3px solid $lightBrown;
		padding: 9px 0;
	}
}
	




.menu-dishes {
	width: 80%;
	margin: auto;
	&__navigation {
		@include flex(flex, row, space-around, normal);
		padding: 0;
		margin-bottom: 63px;
	}
}

.menu-dishes__link {
	@include font(400, 16px);
	
	&--selected {
		border-bottom: 3px solid $lightBrown;
		padding: 9px 0;
	}
	&:hover {
		border-bottom: 3px solid $lightBrown;
		padding: 9px 0;
	}
}
		
		
		
.dishes {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	width: 100%;
	padding-left: 21px;
	&__el {
		@include flex(flex, column, space-between, normal);
		height: 404px;
		width: 306px;
		margin-right: 14px;
    margin-bottom: 14px;
		border: 1px solid rgba(51, 51, 51, 0.2);
	}
}

.el__img {
	height: 204px;
	width: 306px;
}

.el__name {
	@include font(700, 20px);	
	text-align: center;
}

.el__price {
	@include font(700, 32px);
}		

.price-and-basket {
	@include flex(flex, row, space-evenly, normal);
	margin-bottom: 40px;
	align-items: center;									
}



.footer {
	@include flex(flex, row, space-evenly, center);
	width: 100vw;
	height: 120px;
	margin: auto;
	background: black;
}

.footer__nav-logo {
	@include flex(flex, row, normal, center);
}

.nav-logo__footer {
	padding: 0 11px;
}
	
.footer-main__text {
	@include font(400, 16px);	
	color: white;
	&--weight {
		font-weight: 700;
	}
}

	

.dish-card {
	@include flex(flex, row, space-evenly, normal);
	margin: auto;
	width: 100%;
}

.form-img__selected-img {
	width: 416px;
	height: 317px;
}

.form-img__little-img {
	@include flex(flex, row, space-between, normal);
}

.little-img__img {
	width: 122px;
	height: 93px;
	margin-top: 18px;
}

.dish-card__form-dish {
	@include flex(flex, column, normal, normal);
	width: 315px;
}
	
.form-dish__title {
	@include font(700, 32px);
	&--first-title {
		margin-bottom: 38px;
	}
	&--second-title {
		margin-bottom: 25px;
		margin-top: 38px;
	}
}
	
.form-dish__form {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 40px 0;
}

.form__price {
	@include font(700, 32px);	
}

.form__grammar {
	@include font(700, 16px);
	color: $lightGrey;
}
			
.form__number-porcion {
	margin-bottom: 24px;
}

.input-basket {
	display: flex;
	padding-bottom: 20px;
}

.form__input {
	width: 84px;
	padding: 15px 25px;
	box-sizing: border-box;
	height: 54px;
	@include font(700, 20px);
	margin-right: 46px;
	border: 1px solid rgba(51, 51, 51, 0.2);
}

.form__basket {
	padding: 15px 30px;
	height: 54px;
	font-size: 20px;
}
			
.form-dish__checkbox {
	@include flex(flex, row,normal, center);
}
		
.checkbox-text {
	@include font(700, 16px);
	color: $lightGrey;
}

.checkbox-price {
	@include font(700, 20px);	
}

.form-checkbox__checkbox {
	@include flex(flex, column, space-around, normal);
	height: 274px;
}

.checkbox {
	display: flex;
	margin-left: 111px;
	width: 24px;
	height: 24px;
}
			
		
	
.form-and-dish {
	display: flex;
	width: 80%;
	margin: auto;
	margin-bottom: 103px;
}

.form-fourth-page {
	@include flex(flex, column,normal, normal);
	width: 447px;
	height: 207px;
	background: black;
	margin-right: 127px;
	&__name {
		width: 296px;
		height: 52px;
		border: 1px solid $darkGrey;
		color: white;
		background: black;
		@include font(400, 16px);	
		margin: 24px;
	}
	&__guest {
		width: 136px;
		height: 52px;
		border: 1px solid $darkGrey;
		color: white;
		background: black;
		@include font(400, 16px);		
		margin-left: 24px;
	}
}

	
